<template>
  <div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead text-muted">
          This is a modified jumbotron that occupies the entire horizontal space
          of its parent.
        </p>
        <button class="btn btn-primary btn-lg">
          I'm a large Bootstrap button
        </button>
      </div>
    </div>
    <img alt="Vue logo" src="../assets/illustration.png" width="30%" />
  </div>
</template>
