<template>
  <div class="test">
    <h1>I am a component!</h1>
    <p>test</p>
  </div>
</template>

<script>
export default {
  name: "Example"
};
</script>

<style lang="scss">
// @import "../styles/example.scss";
$base-color : red;

.test {

  h1 {
    //color: $base-color;
  }

  p {
    color:$base-color;
  }

}
</style>
