<template>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img alt="Vue logo" src="../assets/logo.png" />
      <h1 class="display-4">{{ msg }}</h1>
      <p class="lead">
        For a guide and recipes on how to configure / customize this project,<br />
        check out the
        <a href="https://cli.vuejs.org" target="_blank" rel="noopener"
          >vue-cli documentation</a
        >.
      </p>
      <hr class="my-4" />
      <h3>Installed CLI Plugins</h3>
      <ul>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-router"
            target="_blank"
            rel="noopener"
            >router</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-vuex"
            target="_blank"
            rel="noopener"
            >vuex</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint"
            target="_blank"
            rel="noopener"
            >eslint</a
          >
        </li>
      </ul>
      <h3>Essential Links</h3>
      <ul>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://vuejs.org"
            target="_blank"
            rel="noopener"
            >Core Docs</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://forum.vuejs.org"
            target="_blank"
            rel="noopener"
            >Forum</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://chat.vuejs.org"
            target="_blank"
            rel="noopener"
            >Community Chat</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://twitter.com/vuejs"
            target="_blank"
            rel="noopener"
            >Twitter</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary btn-lg"
            href="https://news.vuejs.org"
            target="_blank"
            rel="noopener"
            >News</a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.hello {
  background: whitesmoke;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
